spring:
  redis:
    host: 127.0.0.1
    port: 6380
    jedis:
      pool:
        max-active: 100
        max-idle: 10
        min-idle: 5
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/crm
    username: root
    password: 123456
  mvc:
    hiddenmethod:
      filter:
        enabled: true

mybatis:
  mapper-locations: classpath:com.crazycode.mapper/*.xml
  type-aliases-package: com.crazycode.pojo
  config-location: classpath:mybatis/mybatis-config.xml
#  configuration:
#    map-underscore-to-camel-case: true

server:
  port: 8888
  servlet:
    context-path: /login